   #header {
      text-align: center;
      height: 300px;
      width:cover;
      color: white;
      background-repeat: repeat-y;
      margin-top: 50px; 
      margin-bottom: 50px; 
      display: inline-block;
    }
    #logo {
      margin: 0px 0px 0px 40px;
      float: left;
      width: 400px;
    }
    a {
      color: white;
      text-decoration: none;
    }
    img {
      size:80%;
      margin: 0px 0px 0px 0px; 
    }

    .carousel-inner img{
      object-fit:cover;
      height: 600px !important;
    }



    #navbar {
      padding: 50px;
      margin-top: 25px;
      text-align: right;
      font-family: 'arial', cursive;
      font-size: 20px;
      color: white;
      text-decoration: none;
      float: right;
      width: 50%;
      top: 0;
      text-decoration: none;
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    body {
    background-image: URL(http://www.billboard.com/files/media/rupaul-drag-race-2017-billboard-1548.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   }
   h2 {
    color: white;
    font-size: 40;
    font-family: 'roboto', sans-serif; 
   }

    article {
      max-width: 1000px;
      padding: 10px;
      margin: 0 auto;
      color: white;
 }
  #content {   
      background: rgba(255, 105, 180, 0.5);
      background-position: center;
      box-shadow: 25px 25px 50px 0 black inset, -25px -25px 50px 0 black inset; 
      margin-left: 200px;
      margin-right: 200px;
    }
      h1 {
        font-size: 36px;
        padding: 5px;
        color: white
      }
      li {
        padding: 0px;
        display: block;
      }
      header{
        background-size: 100%;
      }
    .profile{
        width:100px;
        height:100px;
    }
  .button-container{
    text-align:center;
    height:500px;
    display:block;
    float:right;
    margin-top: 25px;
}
  .homebtn {
    position: relative;
    margin: 25px;
    display: block;
    width: 277px;
    height: 62px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none !important;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    font-size:17px;
    letter-spacing: 0.045em;
}

.homebtn svg {
    position: absolute;
    overflow: visible !important;
    top: 0;
    left: 0;
}

.homebtn svg rect {
    //stroke: #EC0033;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.homebtn span{
  background: rgb(255,130,130);
  background: -moz-linear-gradient(left,  rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  background: linear-gradient(to right,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homebtn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}

  #bottomnav {
    padding: 20px;
    margin-top: 20px;
    font-size: 30px;
    color: white;
    text-decoration: none;
    text-align: right;
    top: 0;
    text-decoration: none;
    margin-bottom: 20px;
}
.row{
  width: 100%;
}

.socialbottom{
  text-align: center;
  display:inline-block;
}
li{
  display:inline-block;
  padding-left: 5px;
  padding-right: 5px;
}