   #header {
      text-align: center;
      height: 250px;
      width:cover;
      color: white;
      background-repeat: repeat-y;
      margin-top: 50px; 
      margin-bottom: 400px; 
      display: inline;
      padding:  00px;
    }
    #logo {
      margin: 0px 0px 0px 40px;
      float: left;
      width: 400px;
    }
    #socialtopnav {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 50px;
    float: right;
    font-size: 30px;
    color: white;
    width:400px;
    height:100px;
    text-align: left;
}
    a {
      color: white !important;
      text-decoration: none;
    }
    img {
      size:70%;
      margin: 0px 0px 0px 0px; 
    }
    #navbar {
      padding: 50px;
      margin-top: 0px;
      text-align: right;
      font-family: 'arial', cursive;
      font-size: 20px;
      color: white;
      text-decoration: none;
      float: right;
      width: 50%;
      top: 0;
      text-decoration: none;
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    body {
    background-image: URL(http://www.billboard.com/files/media/rupaul-drag-race-2017-billboard-1548.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   }

    article {
      max-width: 1000px;
      padding: 20px;
      margin: 0 auto;
      color: white;
    }
    header{
        background-size: 100%;
        display:inline-block;
      }
    .profile{
        width:100px;
        height:100px;
    }
  .button-container{
    padding top: 600px;
    text-align:center;
    height:600px;
    display:block;
}
  .top-bar{
display:inline-block;
width: 100%;
height:450px;
  }


  .homebtn {
    position: relative;
    margin: 25px;
    display: inline-block;
    width: 277px;
    height: 62px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none !important;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    font-size:17px;
    letter-spacing: 0.045em;
}

.homebtn svg {
    position: absolute;
    overflow: visible !important;
    top: 0;
    left: 0;
}

.homebtn svg rect {
    //stroke: #EC0033;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.homebtn span{
  background: rgb(255,130,130);
  background: -moz-linear-gradient(left,  rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  background: linear-gradient(to right,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homebtn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}

